:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-link {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  max-width: 1440px;
  padding: 24px 156px;
  list-style-type: none;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  background: rgba(46, 47, 66, 0.8);
  transition: 0.7s;
}
img:hover {
  transform: scale(1.02); /* Увеличиваем масштаб */
}
.has-lightbox .sl-wrapper .sl-navigation button {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.has-lightbox .sl-wrapper .sl-counter {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.has-lightbox .sl-wrapper .sl-close {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}
/* 2 -form */
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}
label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0px;
}
.user-message,
.user-email {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px;
  padding-left: 16px;
  outline: transparent;
}
.user-message {
  height: 80px;
}

.user-message::placeholder,
.user-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.user-message:hover,
.user-email:hover {
  border: 1px solid #000;
}
.user-message:hover,
.user-email:hover {
  border: 1px solid #000;
}
.button-sub {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-sub:hover,
.button-sub:focus {
  background: #6c8cff;
}
